/*
 * ---------------------
 *  newpipe config file
 * ---------------------
 *  Default config options
 */

// Global default parameters

// params {

  // Options: Generic
  params.bed = null
  params.bigwig = '.'
  params.extract_chromosomes = false
	
  // Options: Matrix 
  params.scale_regions = false
  params.downstream = 2000
  params.upstream = 2000
  params.region_length = 2000
  params.extract_chromosome = false
  params.reference_point = 'TSS'
  
  // Options: Heatmap
  params.collect_heatmap = false
	 
  // Options: Other
  params.help = false
  params.outdir = './results'
  params.publish_dir_mode = 'copy'

// }


