{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<h2>About</h2>
    <p>
        The Analysis Pipelines Web Application is a tool designed to make running analyses an easy endeavor. It will
        allow you to tell the webapp what kind of data you produced and what kind of analysis you would like to run on
        that data. You will be able to upload your data and provide some general information on the data or analysis.
        The webapp will then run an analysis pipeline for you and provide the results to you once it has finished.
        If you run an especially long pipeline you can close the page and check on your results later using the unique
        ID assigned to your run.
    </p>
    <p>
        The webapp has access to a collection of Nextflow pipelines. Most notably four nf-core pipelines have been
        implemented so far. The RNA-Seq, ChIP-Seq, ATAC-Seq and Sarek pipelines can be found through the "Find Pipeline"
        button on the front page or on the Pipelines page.
    </p>

{% endblock %}