{% extends 'base.html' %}

{% block title %}ID taken{% endblock %}
{% load static %}
{% block extrahead %}<link rel="stylesheet" href="{% static "run/style.css" %}">{% endblock %}

{% block content %}

    <h3>Unfortunately it seems you do not have access to this page.</h3>
    <p>
        Please login to the account used to execute this pipeline run and try accessing it again.
    </p>

    <div class="center">
        <p style="padding: 0 7em 2em 0;">
            <input class="back-button" type="button" onclick="history.back();" value="Take me back">
        </p>
    </div>

{% endblock %}