{% extends 'base.html' %}

{% block title %}run{% endblock %}

{% block content %}

<h4>Start a new run</h4>

    <h6>Do you wish to start a Post-RNAseq-Pipeline run?</h6>

    <table class="uploadTable">
        <tbody>
            <tr>
                <td>Sample file:</td>
                <td style="text-align: right;">
                    <input class="file" type="file" name="sampleFile" style="margin: 5px;">
                </td>
            </tr>
            <tr>
                <td>Compare file:</td>
                <td style="text-align: right;">
                    <input class="file" type="file" name="compareFile" style="margin: 5px;">
                </td>
            </tr>
        </tbody>
    </table>

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        <button type="submit" name="run_script">Start Run</button>
    </form>

{% endblock %}