{% extends 'base.html' %}

{% block title %}Executed Runs{% endblock %}

{% block content %}
    <h1>Executed pipeline runs</h1>

    {% if run_list %}

    <table>
        <tr>
            <td style="padding: 10px"><strong>Run-ID</strong></td>
            <td style="padding: 10px"><strong>Pipeline</strong></td>
            <td style="padding: 10px"><strong>Result</strong></td>
            <td style="padding: 10px"><strong>Starting time</strong></td>
            <td style="padding: 10px"><strong>Details</strong></td>
            <td style="padding: 10px"><strong>Download</strong></td>
        </tr>
        {% for run in run_list %}
        <tr>
            <td style="padding: 10px">{{ run.run_id }}</td>
            <td style="padding: 10px">{{ run.pipeline }}</td>
            <td style="padding: 10px">
                {% if run.exit_status == "0" %}
                    Exited successfully
                {% elif run.exit_status == "1" %}
                    Crashed
                {% else %}
                    Has not finished
                {% endif %}
            </td>
            <td style="padding: 10px">{{ run.start_time }}</td>
            <td style="padding: 10px"><a href="{% url 'run:detail' run.run_id %}">Details</a></td>
            <td style="padding: 10px"><a href="{% url 'run:UniversalDownload' run.run_id %}">Download</a></td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

    {% else %}
    <p>There are no executed pipeline runs.</p>
    {% endif %}
{% endblock %}