<!DOCTYPE html>



<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extrahead %}{% endblock %}
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body style="background-color: lightgrey">

{% include 'navbar.html' %}

<div class="container">

{% block content %}
    replace me
{% endblock %}

</div>

<script>
        function pop_up(display_test) {
            alert(display_test)
        }

        function openTab(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            let i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();

        {% block extrascript %}{% endblock %}
</script>

</body>



</html>
